* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010201;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 75vh;
    background: url('background.png');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #262626;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav img {
    width: 125px;
}

nav li {
    display: inline-block;
    margin: 0px 15px;
}

nav a {
    color: #Fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    border-radius: 3px;
    background-color: #ff004f;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav a:hover.link::after {
    width: 100%;
}
